@font-face {
  font-family: "iconfont"; /* Project id 4634782 */
  src: url('iconfont.woff2?t=1722758509521') format('woff2'),
       url('iconfont.woff?t=1722758509521') format('woff'),
       url('iconfont.ttf?t=1722758509521') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e609";
}

.icon-loading:before {
  content: "\e627";
}

.icon-loading1:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e62b";
}

.icon-shangchuan:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\e65a";
}

.icon-tuya-:before {
  content: "\e758";
}

.icon-github:before {
  content: "\e674";
}

.icon-dark:before {
  content: "\e673";
}

.icon-24gf-folder:before {
  content: "\eac4";
}

.icon-user:before {
  content: "\e607";
}

