.nav {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  border-right-color: rgb(var(--border-style));
  @apply flex flex-col w-64 h-full border-r text-sm;
  .dir-item {
    &.hovered {
      &:hover {
        @apply text-white bg-blue-500;
        & .action-icon {
          @apply block;
        }
      }
    }
    &.active {
      @apply text-white bg-blue-500;
      & .action-icon {
        @apply block;
      }
    }
    @apply flex items-center gap-3 p-2 mb-1 cursor-pointer rounded transition-all;
    .action-icon {
      @apply hidden hover:scale-105;
    }
  }
  .search {
    @apply w-24 transition-all;
    &:has(input:focus) {
      @apply w-full;
    }
    &:has(input:focus) + div {
      @apply hidden;
    }
  }
  .btn {
    color: rgb(var(--foreground));
    background-color: rgb(var(--placeholder));
    @apply w-max px-2.5 py-1.5 text-xs leading-5 font-normal rounded hover:bg-blue-500 hover:text-white;
  }
}