@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /* 前景色 */
   --foreground: 171, 172, 176;
   /* 前景色激活 */
   --foreground-active: 255, 255, 255;
  /* boorder 颜色 */
  --border-style: 0, 0, 0;
  /* 提示颜色 */
  --placeholder: 41, 45, 49;
  /* 背景色 */
  --background: 35, 37, 41;
  --background-adjacent: 29, 31, 34;
}

.light {
  --foreground: 23, 23, 23;
  --foreground-active: 0, 0, 0;
  --border-style: 233, 233, 233;
  --placeholder: 244, 244, 244;
  --background: 255, 255, 255;
  --background-adjacent: 248, 248, 248;
}

::-webkit-scrollbar {
  width: 6px; /* 设置滚动条宽度 */
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(var(--foreground), 0.3); /* 设置滚动条颜色 */
}

@layer utilities {
  .el-scrollbar:not(:hover)::-webkit-scrollbar {
    width: 0;
  }
  .form-item {
    @apply relative block mb-6;
    .label {
      @apply block text-sm font-medium text-slate-700;
    }
    .error {
      @apply absolute text-sm text-red-600;
    }
  }
  input {
    @apply block w-full px-3 py-2 bg-white border border-slate-300 rounded text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-zinc-950 focus:ring-1 focus:ring-zinc-950
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    required:outline-red-600 required:border-red-600;
  }
  button {
    @apply px-4 py-1.5 text-sm text-white leading-5 rounded-md tracking-widest bg-blue-500 hover:bg-blue-600;
  }
}

@keyframes reveal {
  from {
    background-color: rgb(var(--background));
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
