@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 前景色 */
  --foreground: 171, 172, 176;
  /* boorder 颜色 */
  --border-style: 0, 0, 0;
  /* 前景色激活 */
  --foreground-active: 255, 255, 255;
  /* 29, 31, 34 */
  --background: 35, 37, 41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 23, 23, 23;
    --border-style: 233, 233, 233;
    --foreground-active: 0, 0, 0;
    --background: 255, 255, 255;
  }
}

::-webkit-scrollbar {
  width: 6px; /* 设置滚动条宽度 */
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(var(--foreground), 0.3); /* 设置滚动条颜色 */
}

@layer utilities {
  .el-scrollbar:not(:hover)::-webkit-scrollbar {
    width: 0;
  }
  button {
    @apply px-5 py-2.5 text-sm font-semibold leading-5 rounded-md tracking-widest bg-gray-200 hover:bg-gray-400;
  }
  .form-item {
    @apply block mb-6;
  }
  .form-item span {
    @apply block text-sm font-medium text-slate-700;
  }
  .form-item input {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-zinc-950 focus:ring-1 focus:ring-zinc-950
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }
}

@keyframes reveal {
  from {
    background-color: rgb(var(--background));
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
