.header {
  background-color: rgba(var(--background), 0.98);
  border-bottom-color: rgb(var(--border-style));
  @apply flex shrink-0 h-16 items-center border-b;
  .title {
    color: rgb(var(--foreground-active));
    @apply w-64 pl-2.5 text-xl font-semibold;
  }
  .nav {
    @apply flex-1 h-full;
  }
  .actions {
    @apply flex flex-nowrap items-center gap-2 pr-2.5;
    i {
      color: rgb(var(--foreground-active));
      @apply text-2xl cursor-pointer;
    }
  }
}