.header {
  background-color: rgb(var(--background));
  border-bottom-color: rgb(var(--border-style));
  @apply flex shrink-0 h-16 items-center border-b;
  .icon {
    font-size: 24px;
  }
  .title {
    color: rgb(var(--foreground-active));
    @apply flex items-center w-64 pl-2.5 text-xl font-semibold shrink-0;
    &.mobile {
      @apply w-12;
    }
  }
  .nav {
    color: rgb(var(--foreground));
    @apply flex flex-nowrap items-center flex-1 px-2;
    .collapsed {
      &:hover {
        color: rgb(var(--foreground-active));
      }
      @apply pr-4 cursor-pointer;
    }
    .path-nav {
      @apply flex flex-nowrap gap-1 truncate cursor-pointer text-sm;
      .path-nav-item {
        &:hover {
          color: rgb(var(--foreground-active));
        }
      }
    }
  }
  .actions {
    @apply flex flex-nowrap items-center gap-2 pr-2.5;
    .theme-btn,
    .user {
      color: rgb(var(--foreground));
      @apply leading-none cursor-pointer;
      &:hover {
        color: rgb(var(--foreground-active));
      }
    }
    .user {
      font-size: 32px;
      @apply relative w-8 h-8;
    }
  }
}