.header {
  background-color: rgba(var(--background), 0.98);
  border-bottom-color: rgb(var(--border-style));
  @apply flex h-16 items-center px-2.5 border-b;
  .title {
    color: rgb(var(--foreground-active));
    @apply w-64 text-xl font-semibold;
  }
  .nav {
    @apply flex-1 h-full;
  }
  .actions {
    @apply flex flex-nowrap items-center gap-2;
    i {
      color: rgb(var(--foreground-active));
      @apply text-2xl cursor-pointer;
    }
  }
}